*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    height: 365px;
    background-color: #003B95;
    padding-left: 108px;
}
.flex-container{
    display: flex;
    align-items: center;
    list-style: none;
}
.styled_text{
    color: #fff;
    text-decoration: none;
}
.header .title{
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin: 16px 95px 18px 4px;
}
.wrapper_hover{
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    background-color: #003B95;
    padding:10px;
}
.wrapper_hover:hover{
    background-color: #1A4FA0;
}
.header .styled_button:hover{
    background-color: #F0F6FD;
}
.header .choose_currency{
    background-color: #003B95;
    border-style: none;
    padding: 12px;
    font-weight: 550;
    margin-left: 252px;
    margin-right: 3px;
    font-size: 16px;
}

.choose_currency:hover{
    background-color: #1A4FA0;
    cursor: pointer;
    border-radius: 5px;
}
.modals .change_currency-wrapper{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 25px;
}
.modals .form{
    box-sizing: border-box;
    overflow-y: scroll;
    width: 912px;
    height: 700px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 15px 35px 23px;
    margin: auto;
}
.modals .form h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.modals .form h4{
    font-size: 14px;
    margin-bottom: 10px;
}
.modals .form p{
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.5em;
}
.modals .form .sub-form{
    width: 205px;
    height: 60px;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-style: none;
    background-color: #fff;
    border-radius: 4px;
}
.modals .form .sub-form img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #b8b7b7;
    margin-right: 8px;
}
.modals .form .sub-form:hover{
    background-color: #f0f0f0 !important;
}

.modals .form .sub-form:hover{
    background-color: #F0F6FD;
}
.form .sub-form span{
    color: #1A1A1A;
}

.modals .form .flex-container{
    column-gap: 5px;
}
.modals .change_language-wrapper{
    visibility: hidden;
}
.modals .change_language-wrapper .language-wrapper{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    column-gap: 3px;
}
.modals .change_language-wrapper .language-wrapper button{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.icon_flag-vn{
    width: 28px;
    background-color: #003B95;
    position: relative;
    top: 2.5px;
    left: 6px;
}
.icon-question{
    width: 4px;
    height: 4px;
    font-size: 16px;
    font-weight: 450;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    background-color: #003B95;
    margin: 5px;
    position: relative;
    top: 1px;
    left: 12px;
    box-sizing: border-box;
}
.join-booking{
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 20px;
}
.styled_button{
    color: #006ce4;
    font-size: 14px;
    padding: 7px 12px;
    font-weight: 500;
    border-radius: 4px;
    border-color: #006CE4;
    border:1px solid #006CE4;
    text-decoration: none;
    background-color: #fff;
    margin-right: 5px;
    margin-left: 2px;
}
.header .resize-form{
    height: 25px;
}
.header .wrapper-hover .styled_text{
    font-size: 14px;
}
.header .wrapper-hover{
    padding: 7px 16px;
}
.header .white-border {
    box-sizing: border-box;
    background-color: #1A4FA0;
    border-radius: 30px;
    border: 1px solid #fff;
    margin-left: -15px;
}
.header .wrapper-hover:hover{
    box-sizing: border-box;
    background-color: #1A4FA0;
    border-radius: 30px;
}
.header .big_text-size{
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    margin-top: 73px;
    margin-left: -8px;
}
.header .medium_text-size{
    font-size: 24px;
    color: #fff;
    font-weight: 450;
    margin-top: 4px;
    margin-left: -8px;
}
.container{
    margin-left: 100px;
}
.container .search_wrapper{
    width: 1100px;
    height: 62px;
    background-color: #ffb700;
    border-radius: 8px;
    position:relative;
    top: -30px;
    box-shadow: 1.5px 1.5px 8px #b8b7b7;
}
.container .search_wrapper .search_form{
    width: 405px;
    height: 55px;
    background-color: #fff;
    margin-left: 5px;
    border-radius: 4px;
    position:relative;
}
.container .search_wrapper .search_form .txt_text{
    background-image: url("img/white-bed.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 28px 28px;
    padding-left: 40px;
    background-position-x: 6px;
}
.container .search_wrapper .search_form + .search_form{
    width: 298px;
}
.container .search_wrapper .search_form .resize-form{
    height: 25px;
    border-style: none;
    margin: 5px 6px 0px 15px;
    background-color: #fff;
}
.container .search_form .styled_button{
    padding: 0px;
    margin: 0px;
    border-style: none;
}
.container .search_form .align-right{
    position: absolute;
    right: 20px;
    box-sizing: border-box;
    border-style: none;
}
.container .search_form .styled_text{
    font-size: 14px;
    font-weight: 550;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    background-color: #fff;
    border-style: none;
}
.container .search_form input[type="text"]{
    width: 86%;
    height: 62%;
    margin-left: 8px;
    border-style: none;
}
.container .search_form input[type="text"]:focus{
    outline: 2px solid #006CE4;
    border-radius: 3px;
}
.container .search_form ::placeholder{
    color: #000;
}
.container .search_wrapper .color-button{
    font-size: 20px;
    color: #fff;
    background-color: #0067DC;
    width: 74px;
    height: 55px;
    margin-left: 5px;
    border-radius: 5px;
    border-style: none;
    font-weight: 550;
}
.container .color-button:hover{
    cursor: pointer;
    background-color: #003B95 !important;
}
.container .checkbox-form{
    display: flex;
    align-items: center;
    margin: -12px 0px 35px 0px;
    column-gap: 15px;
}
.container .checkbox-form .sub-form{
    display: flex;
    align-items: center;
}
.container .checkbox-form .big-size{
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.container .checkbox-form .big-size:hover{
    cursor: pointer;
}
.container .checkbox-form .txt_checkbox{
    font-size: 14px;
    height: 20px;
    margin-left: 8px;
    color: #1A1A1A;
    text-decoration: none;
}
.container .promotion_wrapper > .flex-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}
.container .promotion_wrapper .block1 {
    position: relative;
    width: 540px;
    height: 184px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #888888;
}
.container .promotion_wrapper .block2{
    width: 540px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #888888;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .promotion_wrapper p{
    margin-top: 5px;
    margin-bottom: 15px;
}
.container .promotion_wrapper .sub-form{
    max-width: 290px;
    line-height: 24px;
    padding-left: 16px;
}
.container .promotion_wrapper .block1 .resize-form{
    width: 540px;
    height: 185px;
    border-radius: 8px;
}
.container .promotion_wrapper .block1 .sub-form{
    position: absolute;
    top: 10px;
}

.container .promotion_wrapper .block2 .resize-form{
    max-height: 185px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.container .promotion_wrapper .styled_link{
    font-weight: 650;
    margin-top: 15px;
    line-height: 5px;
}
.container .promotion_wrapper .styled_button{
    color:white;
    background-color: #006CE4;
}
.container .trend_location .sub_big-form ,.sub_small-form{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.container .trend_location h2{
    margin-top: 70px;
    margin-bottom: 5px;
}
.container .trend_location p{
    margin-bottom: 20px;
}
.container .trend_location .img_caption{
    position: relative;
}

.container .trend_location .sub_big-form .resize-form{
    width: 540px;
    height: 270px;
    object-fit:cover;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #888888;
}
.container .trend_location .resize-form:hover{
    filter: brightness(90%);
    outline: 1px solid #ffb700;
    box-sizing: border-box;
}
.container .trend_location .sub_small-form .resize-form{
    width: 356px;
    height: 266px;
    object-fit:cover;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #888888;
}

.container .trend_location .styled_text{
    position:absolute;
    top: 22px;
    left: 20px;
}
.container .trend_location .styled_text a{
    font-size: 23px;
    font-weight: 650;
    color: #fff;
    text-decoration: none;
    margin-right: 7px;
}
.container .trend_location  .styled_text .resize-form{
    height: 18px;
    width: 24px;
    border-radius: 0;
}
.container .accommodation-category h2{
    margin-bottom: 16px;
}
.container .accommodation-category .block_wrapper{
    display: flex;
    width: 1100px;
    justify-content:space-between;
}
.container .accommodation-category .sub-form{
    width: 264px;
}
.container .accommodation-category .block_wrapper .resize-form{
    border-radius: 8px;
}
.container .block_wrapper .styled_link{
    color: #1A1A1A;
    font-weight: 650;
    text-decoration: none;
}
.container .accommodation-category .block_wrapper .styled_text{
    color: #1A1A1A;
    font-size: 14px;
}
.container .vietnam-travel .block_wrapper .sub-form{
    width: 170px;
}
.container .vietnam-travel h2{
    margin-top: 50px;
    margin-bottom: 5px;
}
.container .vietnam-travel p{
    margin-bottom: 16px;
}
.container .top-destinations h2{
    margin-top: 40px;
    margin-bottom: 5px;
}
.container .top-destinations p{
    margin-bottom: 15px;
}
.container .top-destinations .flex-container{
    margin-bottom: 12px;
}
.container .top-destinations .flex-container .sub-form{
    height: 42px;
    width: 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .top-destinations .flex-container .sub-form:hover{
    border-radius: 20px;
    background-color: #F2F2F2;
}
.container .top-destinations .styled_button{
    border: 1px solid #006CE4;
    border-radius: 25px;
    background-color: #F2F2F2;
}
.container .top-destinations .styled_button a{
    color:#0067DC;
    text-decoration: none;
    font-weight: 400;
}
.container .top-destinations .flex-container .resize-form{
    width: 20px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.container .top-destinations .sub-form .styled_text{
    color: #1A1A1A;
    font-size: 14px;
}
.container .top-destinations .block_wrapper .resize-form{
    width: 170px;
}
.container .top-destinations .block_wrapper{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
.choose-title{
    border-radius: 25px;
    border: 1px solid #006CE4;
    background-color: #F0F6FD;
    max-height: 42px;
}
.choose-title:hover{
    background-color: #F0F6FD !important;
}
.choose-title a{
    color: #1A4FA0;
    text-decoration: none;
    font-size: 14px;
}
.container .unique-accommodations .block_wrapper{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.container .unique-accommodations h2{
    margin-top: 48px;
    margin-bottom: 5px;
}
.container .unique-accommodations p{
    font-size: 15.1px;
    margin-bottom: 18px;
}
.container .unique-accommodations .resize-form{
    width: 264px;
    height: 326px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #b8b7b7;
}
.container .unique-accommodations .sub-form .resize-form{
    height: 212px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
}
.container .unique-accommodations .sub-form .styled_link{
    display: block;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 10px;
    margin-bottom: 0px;
    line-height: 24px;
}
.container .unique-accommodations .sub-form .styled_text{
    display: block;
    color:#1A1A1A;
    font-size: 12px;
    padding-left: 8px;
    margin-bottom: -15px;
    margin-top: -19px;
}
.styled_rating{
    background-color: #003B95;
    padding: 3px;
    font-size: 12px;
    margin-left: 8px;
    color: #F2F2F2;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-style: none;
    margin-right: 3px;
}
.container label{
    font-size: 12px;
}
.container .favorite-accommodations{
    width: 1100px;
}
.container .favorite-accommodations .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.container .favorite-accommodations .title a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #0067DC;
    position: relative;
    top: 13px;
}
.container .favorite-accommodations .block_wrapper{
    display: flex;
    justify-content: space-between;
}
.container .favorite-accommodations .sub-form{
    position: relative;
    height: 350px;
}
.container .favorite-accommodations .sub-form .flex-container{
    display: flex;
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 5px;
    right: 10px;
    /* height: 350px; */
}
.container .favorite-accommodations .resize-form{
    width: 264px;
    height: 326px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #b8b7b7;
}
.container .favorite-accommodations .sub-form .resize-form{
    height: 212px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
}
.container .favorite-accommodations .sub-form .styled_link{
    display: block;
    padding-top: 5px;
    padding-left: 8px;
    margin-bottom: 0px;
    line-height: 24px;
}
.container .favorite-accommodations .sub-form .styled_text{
    display: block;
    color:#1A1A1A;
    font-size: 12px;
    padding-left: 8px;
    margin-bottom: -15px;
    margin-top: -19px;
}
.container .banner .access-form{
    display: flex;
    align-items: center;
    height: 195px;
    width: 1100px;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    margin-top: 16px;
}
.container .banner .access-form .resize-form{
    height: 170px;
    padding-left: 12px;
    position: relative;
    top: 7px;
}
.container .banner .access-form .sub-form{
    width: 410px;
    line-height: 25px;
    margin-left: 15px;
}
.container .banner .access-form .sub-form h2{
    margin-bottom: 7px;
}
.container .banner .access-form .sub-form
 .styled_button + .styled_button{
    border-style: none;
    margin-left: -2px;
    padding-left: 3px;
    padding-right: 3px;
    width: 65px;
 }
.container .banner .access-form .styled_button:hover{
    background-color: #F0F6FD;
    cursor: pointer;
 }
.container .looking_for-travel{
    display: flex;
    position: relative;
    width: 1100px;
    height: 285px;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    margin-top: 18px;
    overflow: hidden;
}
.container .looking_for-travel .yellow-circle{
    display: block;
    border-radius: 50%;
    background-color: #ffb700;
    bottom: 40px;
    height: 64px;
    left: -20px;
    padding-left: -30px;
    position: absolute;
    width: 64px;
}
.container .looking_for-travel .blue-circle{
    width: 400px;
    height: 470px;
    background-color: #006ce4;
    border-radius: 49%;
    margin-left: 10%;
    position: relative;
    top: -90px;
    left: 40px;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 105px;
}
.container .looking_for-travel .blue-circle .styled_text{
    font-size: 24px;
    color: #ffffff;
    font-weight: 650;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container .looking_for-travel .blue-circle button{
    color: #006CE4;
    font-weight: 650;
    background-color: #ffffff;
    border-style: none;
    padding: 8px 48px;
    margin-top: 16px;
    border-radius: 3px;
}
.container .looking_for-travel img{
    width: 365px;
    height: 240px;
    margin-left: 70px;
    margin-top: 30px;
}
.container .favorite-recommends h2{
    margin-top: 30px;
}
.container .favorite-recommends ul{
    display: flex;
    list-style: none;
    column-gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.container .favorite-recommends li{
    font-size: 14px;
    font-weight: 600;
    color: #1A1A1A;
    border-radius: 22px;
}

.container .favorite-recommends .color-button{
    color: #006CE4;
    font-weight: 650;
    border-style: none;
    background-color: #F0F6FD;
}
.container .favorite-recommends .color-button:hover{
    background-color: #F0F6FD;
}
.container .favorite-recommends button{
    font-weight: 600;
    color: #1A1A1A;
    background-color: #fff;
    border-style: none;
    background-color: none;
    padding: 12px 15px;
    border-radius: 25px;
}
.container .favorite-recommends button:hover{
    background-color: #E7E7E7;
    cursor: pointer;
}
.container .locations{
    flex-wrap: wrap;
    column-gap: 8px;
    /* row-gap: -10px; */
}
.container .locations .sub-form{
    width: 210px;
    margin-top: 17px;
}
.container .locations .sub-form .styled_link{
    font-size: 14px;
    color: #1A1A1A;
    font-weight: 550;
    text-decoration: none;
}
.container .locations .sub-form .styled_link:hover{
    text-decoration: underline;
}
.container .locations .sub-form .styled_text{
    font-size: 13px;
    color: #1A1A1A;
}
.footer .register-recommend{
    width: 100%;
    height: 224px;
    background-color: #00224F;
    margin-top: 45px;
}
.footer .register-recommend h2{
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    margin-bottom: -20px;
}
.footer .register-recommend .styled_text{
    color: #bdbdbd;
    text-align: center;
}
.footer .register-recommend .sub-form{
    display: flex;
    justify-content: center;
    column-gap: 5px;
}
.footer .register-recommend .resize-form{
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    border-radius: 3px;
    border-style: none;
    padding-right: 155px;
}
.footer .register-recommend button{
    color:#ffffff;
    background-color: #006CE4;
    padding: 0px 46px;
    font-size: 20px;
    font-weight: 300;
    height: 48px;
    border-style: none;
    border-radius: 3px;
}
.footer .submit-accommodation{
    display: flex;
    height: 60px;
    background-color: #003B95;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.footer .submit-accommodation button{
    color: #fff;
    font-size: 13px;
    background-color: #003B95;
    padding: 4px 15px;
    border: 1px solid #fff;
    border-radius: 3px;
}
.footer .footer_title{
    height: 45px;
    display: flex;
    list-style: none;
    background-color: #003B95;
    padding-left: 72px;
}
.footer .footer_title li{
    border-right: 1px solid #003580;
}
.footer .footer_title a{
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: 650;
    padding: 0px 10px;
    padding-top: 15px;
}
.footer .others{
    display: flex;
    margin-left: 80px;
    column-gap: 20px;
    padding-top: 12px;
}
.footer .others a{
    color: #006CE4;
    font-size: 13px;
    text-decoration: none;
    line-height: 24px;
}
.footer .others .block{
    width: 200px;
}
.footer .extranet-login{
    margin-top: 75px;
    text-align: center;
    margin-bottom: 40px;
}
.footer .extranet-login a{
    font-size: 15.4px;
    color: #006CE4;
    text-decoration: none;
}
.footer .copyright_text{
    font-size: 11.2px;
    color: #1A1A1A;
    margin-left: 70px;
    margin-bottom: 35px;
}
.footer .footer_priceline-title{
    color: #6b6b6b;
    font-size: 12px;
    text-align: center;
}
.footer .footer_priceline-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 30px;
}
.footer .footer_priceline-list title{
    position: relative;
    top: 20px;
}
